{% extends "base.html" %}

{% block content %}

<center><table width="70%"><tr><td align=left>
    <h3><b>http://github.com</b>/<a href=/>tensorflow</a>/<a href=/>tensorflow</a></h3>
    <form action='/github/tensorflow/tensorflow/search'>
        <div class="input-group input-group-lg">
            <input name=q value="" class="form-control" placeholder="query" autocomplete="off">
            <span class="input-group-btn">
                <input class="btn btn-primary" type=Submit value="Search">
            </span>
        </div>
   </form>
</td></tr></table></center>

{% end %}

{% block scripts %}
{% end %}
